<strong> Ol치, {{ deliveryman }}</strong>
<p>O produto {{ product }} j치 est치 disponivel para a retirada, confira os detalhes abaixo: </p>
<p>
  游<strong> Destinat치rio: </strong> <br/>
  <p> - Nome: {{ recipient.name }} </p>
  <p> - Rua: {{ recipient.street }} </p>
  <p> - N칰mero: {{ recipient.number }} </p>
  <p> - Bairro: {{ recipient.neighborhood	}} </p>
  <p> - Cidade: {{ recipient.city	}} </p>
  <p> - Estado: {{ recipient.state	}} </p>
  <p> - CEP: {{ recipient.zipcode	}} </p>
  <br/>
  <small>Obs: A retirada do produto s칩 pode ser realizada entre 8:00 a 18:00. </small>
</p>
